.flex-container{
    display:flex;
    align-items: center;
    border-radius: 5px;
    
    & .flex-vertical{
        flex-direction: column;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    column-gap: 16px;
    row-gap: 16px;

}

.flex-vertical {
    flex-direction: column;
}

