@import "flex.css";
@import "variables.css";

.space-between{
    justify-content: space-between;
}

.logo{
    max-width: 75px;
}

.page-header {
    /* padding: 2.5rem 5rem 0; */
    height: 85px;
    position: fixed;
    top: 0px;
    left: 0px;
}

.page-footer {
    /* padding: 2.5rem 5rem 0; */
    height: 85px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.header-title{
    text-transform: uppercase;
}